<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload Page</title>
	<script type="text/javascript" {{ url_for('static', filename='static\mapmaker.js')}}></script>
    
</head>
<body>
    <script type="text/javascript">
        var results = "{{ rl }}";
        var links_to_items = "{{ link_list }}";
        console.log("results");
        window.onload = mapMaker(results,links_to_items);
    </script>
    <center><h1>Here is the Image result</h1></center>
    
    <img src="{{ file_name }}" alt="didnt work"usemap="#itemMap">
    <map name="itemMap"></map>
    {% for x,y in link_list|zip(item_list)%}
    <p>{{ y }} <a href="{{ x }}">Link to product</a></p>
    {%endfor%}
    <p>{{rl}}</p>
    
</body>
</html>