<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Imaging App</title>
</head>
<body>
    <h1>Welcome to The AI Image Classification Web App</h1>
    <p>This web app uses Yolo V5 which stands for you only look once becase it is a very fast and accurate object detection machine learning model that breaks the image into a grid and idetntifies each square in the grids.</p>
    <p><a href="http://127.0.0.1:5000/image">Try Out the Image detector</a></p>
</body>
</html>